<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
  <script src="/js/client.js" charset="utf-8"></script>
</head>
<body>
  <header class="">
    <nav class="blue-grey">
      <ul>

        <li><a href="/"><img src="../images/podMeLogo.png"></a></li>
        <% if (locals.isLoggedIn) { %>
          <li><a href="/users">Users</a></li>
          <li><a href="/logout">Log Out</a></li>
          <li><a href="/users/<%= locals.user.id %>"><%= locals.user.name %></a></li>
          <% if (locals.user.image) { %>
          <li><img src="<%= locals.user.image %>"></li>
          <% } %>

        <% } else { %>

        <% } %>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container">
      <%# <img src="https://scontent.flhr3-1.fna.fbcdn.net/v/t1.0-1/p320x320/10432989_10153638017387575_814915425786401046_n.jpg?oh=860c83119e2e5819011c4329a322d123&oe=598697FE" alt="">%>

    <% for (const type in messages) { %>

              <p class="alert alert-<%= type %>"><%= messages[type] %></p>

  <% } %>

    <%- body %>

    </div>
  </main>
  <footer class="page-footer blue-grey">
    <div class="footer-copyright">
      <div class="container">© 2017 Horace Keating</div>
    </div>
  </footer>
</body>
</html>
