<h1>Podcast results</h1>

<h4>Your journey from <%= originText %> to <%= destinationText %> will take <%= journeyTime %> minutes</h4>
<ul>
  <% closest.forEach(result => { %>
    <li><h3><%= result.podcast.podcast %></h3></li>
    <li><h4><%= result.podcast.title %></h4></li>
    <li>
      <audio controls>
        <source src="<%= result.podcast.link %>" type="audio/mpeg">
      </audio>
    </li>

  <% }); %>
</ul>


<%# note%>
