<ul class="collapsible" data-collapsible="accordion">
<li>
  <div class="collapsible-header">Search Podcasts</div>
  <div class="collapsible-body">
    <form id="podcastForm" class="col" action="/search" method="post">

      <% if (locals.isLoggedIn) { %>
        <div class="input-field">
        <select id="journeySelector" class="" name="journey">
        <option value="" disabled selected>Choose a journey</option>
        <% user.journeys.forEach(journey => { %>
          <option value="<%= journey._id %>"><%= journey.name %></option>
          <% }); %>
          </select>
          <label for="journey">Use a saved route<label>
          </div>
          <% } %>
          <div class="row">


          <div class="input-field col s6">
            <label for="origin">Start Point</label>
            <input class="searchField" type="text" id="origin" name="origin" value="">
          </div>
          <div class="input-field col s6">
            <label for="destination">Destination</label>
            <input class="searchField" type="text" id="destination" name="destination" value="">
          </div>
          </div>
          <div class="input-field">
            <select id="topicSelector" class="" name="topic">
              <option value="" disabled selected>Choose a topic</option>
            </select>
            <label for="topic">Topic</label>
          </div>
          <div class="input-field">
            <select id="subtopicSelector" class="subtopics" name="topic">
              <option id="default" value="" disabled selected>Choose a subtopic</option>
            </select>
          </div>


          <div class="input-field">
            <input class="waves-effect btn searchPods" type="submit" name="" value="Search Podcasts">
          </div>
          <div class="progress">
            <div id="loadingBar" class=""></div>
          </div>
        </form>
        <form id="journeySave" class="" action="/journeys" method="post">

          <div class="input-field">
            <label for="name">Journey Name</label>
            <input type="text" name="name" value="">
          </div>

          <input id="shadowOrigin" type="hidden" name="origin" value="">
          <input id="shadowDestination" type="hidden" name="destination" value="">

          <input class="waves-effect btn" type="submit" name="" value="Save Journey">
        </form>
      </div>
    </li>
  </ul>


<div class="row">
  <div class="col s4">
    <a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Origin: <%= originText %> <br> Destination: <%= destinationText %> <br> Duration: <%= journeyTime %> minutes">Journey</a>
  </div>
  <div class="col s4 homepageImg">
    <img id="homepageImg" src="images/podMeLogo.png">
  </div>
  <div class="col s4">

  </div>

</div>


<div class="slider-nav podResults">
  <% results.forEach(result => { %>
    <div class="podcast grow">
      <img class="z-depth-2" src="<%= (result.image || 'https://www.fillmurray.com/200/200.jpg') %>" default="https://www.fillmurray.com/200/200.jpg">
    </div>

  <% }); %>
</div>


<div class="slider-for episodes">


    <% results.forEach(result => { %>
      <div class="container podEpisodes">
      <h4><span class="podTitle"><%= result.title %></span></h4>
  <div class="row">
      <% if (result.episodes) { %>
        <% for (var i=0; i<10; i++) { %>
          <% if(result.episodes[i]) { %>

              <div class="col s12 m6 podcastResult grow">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title"></span>
                    <%= result.episodes[i].title %>
                  </div>
                  <div class="card-action">
                  <audio controls>
                    <source src="<%= result.episodes[i].link %>" type="audio/mpeg">
                  </audio>
                  </div>
                </div>
              </div>

          <% } %>
        <% } %>
      <% } %>

      </div>
    </div>
  <% }); %>

</div>
